/*
 *         ____  __                     __    __        
 *        / __ \/ /_  ____  ____  _____/ /_  / /______ _
 *       / /_/ / __ \/ __ \/ __ \/ ___/ __ \/ //_/ __ `/
 *      / ____/ / / / /_/ / /_/ / /__/ / / / ,< / /_/ / 
 *     /_/   /_/ /_/\____/\____/\___/_/ /_/_/|_|\__,_/  
 *     
 *     Profile page CSS by Gaurav
 *
 */

body {
    margin: 0;
    padding: 0;

    background-color: #303039;
    color: #f1f1f1;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    /* font-family: 'Courier', monospace; */
    font-size: 3em;
}

a {
    color: inherit;
    text-decoration: underline;
}


.main {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}


