/*
 *     ____  __                     __    __        
 *     / __ \/ /_  ____  ____  _____/ /_  / /______ _
 *     / /_/ / __ \/ __ \/ __ \/ ___/ __ \/ //_/ __ `/
 *     / ____/ / / / /_/ / /_/ / /__/ / / / ,< / /_/ / 
 *     /_/   /_/ /_/\____/\____/\___/_/ /_/_/|_|\__,_/  
 *     
 *     Base CSS by Gaurav

 */

body {
    margin: 0;
    padding: 0;

    background-color: #20242C;
    color: #B3B9C3;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 5em;
}


.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


